<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container dashboard-box">

    <h1>Welcome <%= user.username %></h1>

    <p>Welcome to Secure Web App</p>

    <a href="/logout">
        <button>Logout</button>
    </a>

</div>

</body>
</html>