<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">

    <h2>Login</h2>

    <form method="POST" action="/login">

        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

        <input type="email" name="email" placeholder="Enter Email" required>

        <input type="password" name="password" placeholder="Enter Password" required>

        <button type="submit">Login</button>

    </form>

    <br>

    <a href="/signup">Don't have an account? Signup</a>

</div>

</body>
</html>